:root {
  --black-color: #191919;
  --black-transclucent-color: rgba(25, 25, 25, 0.6);
  --black-more-transclucent-color: rgba(25, 25, 25, 0.4);
  --black-even-more-transclucent-color: rgba(25, 25, 25, 0.2);
  --gray-color: #a1a7b6;
  --gray-transclucent-color: rgba(161, 167, 182, 0.6);
  --light-gray-color: #d2d9ea;
  --light-gray-transclucent-color: rgba(210, 217, 234, 0.6);
  --white-color: #fffeff;
  --white-transclucent-color: rgba(255, 254, 255, 0.6);
  --yellow-color: #ffcf7d;
  --orange-color: #f0a177;
  --green-color: #e6ee96;
  --blue-color: #55cffa;
  --purple-color: #b095f6;
  --pink-color: #f6b0d5;
  --red-color: #f6b0b0;
}
