:root {
  --black-color: #191919;
  --black-transclucent-color: rgba(25, 25, 25, 0.6);
  --black-more-transclucent-color: rgba(25, 25, 25, 0.4);
  --black-even-more-transclucent-color: rgba(25, 25, 25, 0.2);
  --gray-color: #5f5f5f;
  --white-color: #fffeff;
  --white-transclucent-color: rgba(255, 254, 255, 0.6);
  --yellow-color: #ffd56b;
  --orange-color: #ffae6c;
  --green-color: #eeff76;
  --blue-color: #54e5ff;
  --purple-color: #b79cff;
  --pink-color: #ffa1d8;
  --red-color: #ff9494;
}
