.nav {
  position: fixed;
  grid-area: nav;
  border-right: 1px solid #ececec;
  height: 100vh;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav .logo {
  height: 80px;
}

.nav .logo h4 {
  font-size: 18px;
}

.nav .activator-container {
  filter: url(#gooey-effect);
}

.nav .activator-container .activator {
  margin-top: 48px;
}

.nav .activator-container .activator button {
  z-index: 21;
  border-radius: 100%;
  background: #000;
  border: none;
  height: 58px;
  width: 58px;
  outline: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .activator-container .activator button img {
  width: 24px;
  height: 24px;
}

.nav .activator-container .color-selectors {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-top: -24px;
}

.nav .activator-container .color-selectors .selector {
  position: absolute;
  height: 32px;
  width: 32px;
  margin: 0 auto;
  top: -20px;
  border-radius: 100%;
  opacity: 0;
}

.nav .activator-container .color-selectors .selector.first {
  background: var(--yellow-color);
  z-index: 10;
  opacity: 1;
}

.nav .activator-container .color-selectors .selector.second {
  z-index: 9;
  background: var(--orange-color);
}

.nav .activator-container .color-selectors .selector.third {
  z-index: 8;
  background: var(--green-color);
}

.nav .activator-container .color-selectors .selector.fourth {
  z-index: 7;
  background: var(--blue-color);
}

.nav .activator-container .color-selectors .selector.fifth {
  z-index: 6;
  background: var(--purple-color);
}

.nav .activator-container .color-selectors .selector.sixth {
  z-index: 5;
  background: var(--pink-color);
}

.nav .activator-container .color-selectors .selector.seventh {
  z-index: 4;
  background: var(--red-color);
}

