.header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  grid-area: header;
}

.header .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 6px 10px;
}

.header .search .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.header .search .icon img {
  height: 18px;
  width: 18px;
}

.header .search input {
  background-color: transparent;
  height: 32px;
  border: none;
  outline: none;
  font-size: 20px;
}

.header .search input::placeholder {
  color: #a1a7b6;
}

.header .search .star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  transition: background-color 0.3s ease-in-out;
}

.header .search .star .star-icon {
  color: rgb(240, 240, 240);
}
